@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/*
 * GENERAL
 */
::-webkit-scrollbar {
    background:none;
    width:16px;
    height:16px;
}

::-webkit-scrollbar-corner {
  background:transparent;
}

::-webkit-scrollbar-thumb {
  border:solid 0 rgba(0, 0, 0, 0);
  border-right-width:4px;
  border-left-width:4px;
  -webkit-border-radius:9px 4px;
  -webkit-box-shadow:inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-track-piece {
  margin:4px 0;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
}

body {
    background-color:#252525;
}

.button {
    height:50px;
}

.button:hover {
    background-color:#F2F2F2;
    border-color:#888;
    box-shadow:0 0 2px #CCC;
    cursor:pointer;
}

.button.disabled {
    opacity:0.3;
    border:none;
    box-shadow:none;
}

.button.disabled:hover {
    cursor:default !important;
    background-color:transparent !important;
}

/*
 * META INFORMATION
 */
#meta-container {
    display:none;
}

/*
 * FIRST ROW CONTAINER
 */
iframe {
    width:100%;
    height:100%;
    border:none;
}

/*
 * SECOND ROW CONTAINER
 */
#bottom-container {
    clear:both;
    width:100%;
    height:calc(50% - 110px);
}
#wrapper{
    width:calc(100% - 6px);
    height:calc(100% - 12px);
}
#div-console {
    height:100%;
    overflow-y:scroll;
}
#console {
    width:100%;
    resize:none;
    height:100%;
    color:#E1E1E1;
    background-color:#363636;
    border:none;
}

#div-cd {
    float:left;
    width: 50%;
    resize:none;
    height:100%;
    color:#E1E1E1;
    background-color:#363636;
    border:none;
    overflow:auto;
}

#cd-output {
    background-color:white;
}

/*
 * THIRD ROW CONTAINER
 */
#logos-container img {
    height:50px;
    background-color:#FFF;
}

#logos-container .element {
    margin-left:5px;
}

#logos-container .label {
    padding:0 10px 0 10px;
    background-color:#FFF;
    font-family:"Roboto Condensed", Helvetica, sans-serif;
    font-weight:bolder;
}

#label-credits {
    cursor:pointer;
    width:75px;
    height:50px;
}

/*
 * CREDITS OVERLAY
 */
#credits-overlay {
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    display:none;
}

#credits-overlay:hover {
    cursor:pointer;
}

#credits-container {
    position:fixed;
    width:30%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:#E1E1E1;
    background-color:#303130;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

#credits-container:hover {
    cursor:default;
}

#credits-container ul {
    list-style:none;
    margin:0;
    padding:0;
}

#credits-container span {
    float:left;
}

#credits-container li {
    width:100%;
    display:block;
    clear:both;
}

#credits-container .credits-icon {
    width:75px;
    height:75px;
}

#credits-container .credits-text {
    width:calc(100% - 75px - 15px);
    margin-left:15px;
    height:75px;
    vertical-align:middle;
    display:inline-flex;
    align-items:center;
}

#credits-container img {
    width:100%;
    background-color:#FFF;
}

.button-smaller {
    /*display:inline-flex;
    align-items:center;*/
    height:50px;
}

.button-smaller img {
    height:35px;
}

/*
 * SPLITTER
 */
#rows, #columns-1, #columns-2 {
    height:100%;
    overflow:hidden;
}

#rows {
    border-width:0;
}

.k-splitter .k-scrollable {
    overflow:hidden !important;
}

.k-splitbar-horizontal.k-splitbar-draggable-horizontal .k-i-arrow-60-right {
    margin-top:6px !important;
}

.k-splitbar-vertical .k-i-arrow-60-up {
    margin-left:10px;
}

.k-splitbar-vertical .k-i-arrow-60-down {
    margin-left:-15px;
}